/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    padding: 0.3rem 1rem 3rem 1rem;
    height: auto;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #b5cab6;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
}

.btn {
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #2e6171;
    cursor: pointer;
}

.btn:hover {
    background-color: #7ab6c9;
}

/* FOOTER */
footer {
    display: column;
}

.footer {
    display: flex;
    justify-content: right;
    margin: 30px 20px 12px 20px;
}

.icon-circle-with-plus {
    font-size: 50px;
    transition: all 300ms;
    /* color: black; */
}

.container-icons:hover .icon-circle-with-plus {
    transform: rotateY(180deg);
    /* color: green; */
}

.row-icon {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transition: all 300ms;
    opacity: 0;
    padding: 4px;
    /* background-color: red; */
}

.container-icons:hover .row-icon {
    opacity: 1;
    position: none;
}

.row-icon h4 {
    transform: translate(-13px, 5px);
}

.row-icon label {
    font-size: 40px;
}

.icon1 {
    transform: translate(70px, 0px) scale(0);
}

.icon2 {
    transform: translate(71px, 0px) scale(0);
}

.icon3 {
    transform: translate(72px, 0px) scale(0);
}

.icon4 {
    transform: translate(73px, 0px) scale(0);
}

.icon5 {
    transform: translate(74px, 0px) scale(0);
}

.icon6 {
    transform: translate(75px, 0px) scale(0);
}

.container-icons:hover .icon1 {
    transform: translate(-28px, 15px) scale(1);
}

.container-icons:hover .icon2 {
    transform: translate(-57px, 15px) scale(1);
}

.container-icons:hover .icon3 {
    transform: translate(-86px, 15px) scale(1);
}

.container-icons:hover .icon4 {
    transform: translate(-115px, 15px) scale(1);
}

.container-icons:hover .icon5 {
    transform: translate(-144px, 15px) scale(1);
}

.container-icons:hover .icon6 {
    transform: translate(-185px, 15px) scale(1);
}

.made-with {
    display: grid;
    place-items: center;
    padding-bottom: 12px;
}






@media(max-width:991px) {
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }
}