*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 70px, 10px, 25px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 500px;
    height: 500px;
    background: #000;
    margin: 10px 10px 30px 10px;
    border-radius: 50px;
    overflow: hidden;
}

.card {
    box-shadow: 2px 2px 4px #000;
}

.card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 83%;
    object-fit: cover;
    transition: transform .75s;
}